# URL do repositório/serviço servidor já rodando.
# Local:
API_BASE_URL=http://localhost:5000

# Produção:
# API_BASE_URL=https://livraria-servidor.onrender.com

SECRET_KEY=troque-essa-chave
PORT=5001
